<div class="d-flex justify-content-center mt-2">
    <h4 class="bg-light rounded p-2">Recent Reviews</h4>
</div>

<ol class="post-list list-group bg-info">
  {{!-- {{#each reviews as |review|}} --}}
  <li class="list-group-item bg-info">
    {{> reviews-info-homepage reviews }}
  </li>
  {{!-- {{/each}} --}}
</ol>



