<div class="container mt-4 bg-light rounded" id="form-container">
    <form class="pb-2" id="post-form">
        <div class="d-flex justify-content-center">
        <div>
            <h3>Submit a Review for {{ restaurant.name }}</h3>
        </div>
        </div>
        <div>
            <h4>Atmosphere Rating</h4>
            <input id="atmosphere-rating" name="atmosphere" class="rating" type="number">
        </div>
        <div>
            <h4>Food Rating</h4>
            <input id="food-rating" name="food" class="rating" type="number" >
        </div>
        <div>
            <h4>Service Rating</h4>
            <input id="service-rating" name="service" class="rating" type="number" >
        </div>
        <div>
            <h4>Overall Rating</h4>
            <input id="overall-rating" name="overall" class="rating" type="number" >
        </div>
        <div class="mb-3">
            <h4>Review</h4>
            <input type="text" class="form-control" id="review" name="review" placeholder="Review">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" id="submit-review-btn">Submit</button>
        </div>
    </form>
</div>


<script src="/javascript/post-review.js"></script>