{{> restaurants-info restaurant }}

<ol class="post-list list-group bg-info">
  {{!-- {{#each restaurant.reviews as |review|}} --}}
  <li class="list-group-item bg-info">
    {{> reviews-info restaurant.reviews }}
  </li>
  {{!-- {{/each}} --}}
</ol>