{{> restaurants-info restaurant }}

<ol class="post-list list-group bg-info">
  <li class="list-group-item bg-info">
    {{> reviews-info-homepage restaurant.reviews }}
  </li>
</ol>

<script src="/javascript/hide-reviews-btn.js"></script>